In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('stockprice_master_NSE-TATAGLOBAL.csv')

In [2]:
data['Date'] = pd.to_datetime(data['Date'])

In [3]:
data.shape

(2035, 8)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2035 entries, 0 to 2034
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  2035 non-null   datetime64[ns]
 1   Open                  2035 non-null   float64
 2   High                  2035 non-null   float64
 3   Low                   2035 non-null   float64
 4   Last                  2035 non-null   float64
 5   Close                 2035 non-null   float64
 6   Total Trade Quantity  2035 non-null   int64
 7   Turnover (Lacs)       2035 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 127.3 KB

In [5]:
data.describe(include='all')

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
count,2035,2035.000000,2035.000000,2035.000000,2035.000000,2035.00000,2.035000e+03,2035.000000
mean,2014-08-20 14:43:06.339066112,149.713735,151.992826,147.293931,149.474251,149.45027,2.335681e+06,3899.980565
min,2010-07-21 00:00:00,81.100000,82.800000,80.000000,81.000000,80.95000,3.961000e+04,37.040000
25%,2012-07-28 12:00:00,120.025000,122.100000,118.300000,120.075000,120.05000,1.146444e+06,1427.460000
50%,2014-08-14 00:00:00,141.500000,143.400000,139.600000,141.100000,141.25000,1.783456e+06,2512.030000
75%,2016-09-10 12:00:00,157.175000,159.400000,155.150000,156.925000,156.90000,2.813594e+06,4539.015000
max,2018-09-28 00:00:00,327.700000,328.750000,321.650000,325.950000,325.75000,2.919102e+07,55755.080000
std,NaN,48.664509,49.413109,47.931958,48.732570,48.71204,2.091778e+06,4570.767877

In [6]:
from ydata_profiling import ProfileReport

report = ProfileReport(data,title = 'Stock Price Report', tsmode=True)

In [9]:
report.to_file('report.html')

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]